@charset "UTF-8";

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bloco {
    height: 300px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-image: url(assets/wallpaper003.jpg);
}

#q1 {
    background-position: left top;
}

#q2 {
    background-position: left center;
}

#q3 {
    background-position: right bottom;
}

#q4 {
    background-position: center center;
}