@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.espaco {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(assets/espaco.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.astronauta {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(assets/astronauta.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}